langchain==0.0.180
openai==0.27.7
pandasai==0.2.15
pdfplumber
pypdf==3.9.0
streamlit==1.22.0
streamlit-chat==0.0.2.2
tiktoken==0.4.0
youtube-transcript-api==0.6.0
faiss-cpu
plotly>=5.0.0
seaborn>=0.11.0
openpyxl==3.1.2
wordcloud
nltk
transformer
torch==1.10.1 
